/* .software{
    margin-top: 10rem;
} */

/* @media (max-width: 768px) {
    .software {
        margin-top: 0rem !important;
       
    }
} */

.yree{

height:250px;
width:230px
}

@media (max-width: 768px) {
    yree{

        height:50px !important;
        width:50px !important
        }
}