.button {
  background-color: #151312;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1C1A19;
}

.arrow1 {
  color: #f46c39;
  font-size: 2rem;
}

.test {
  width: 100%;
  max-width: 720px;
}