.button {
  background-color: #151312;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1C1A19;
}

.arrow {
  color: #f46c39;
  font-size: 2rem;
}

.img {
  text-align: center;
  padding-top: 1rem;
  height: 80px;
  width: 80px;
}

.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .img {
    height: 60px;
    width: 60px;
  }
}