.head{
    width: 20rem;
    height: 3rem;
    background-color: #1C1A19;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 1rem; /* Optional: Add spacing from the top */
   
   
}
.jjjj{
    display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center;
}
.werw{
    color: aliceblue;
}
.new{
    padding: 20px;
 font-size: 20px;
 font-weight: 600;
 color: '#F46C39' !important;
}

@media (max-width: 768px) {
    .jjjj {
        display:flex;
      
        padding-left: 30rem;
        justify-content: center !important;
        flex-direction: column-reverse;}
  }

/* .jjjj {
    padding-left: 30rem;
    text-align: center; */

   