.card {
    width: 100%;
}

.head1 {
    color: aliceblue;
}

.jjjj1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 1rem;
    text-align: center;
    min-width: 150px;
}

.container1 {
    display: flex;
    width: 100%;
}

.left-container {
    width: 100%;
}

.right-container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .item {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .main-home-wrapper {
        padding: 1rem;
    }

    .con {
        margin: 0 !important;
        text-align: center;
    }

    .soft {
        font-size: 2.5rem !important;
    }

    .paraw {
        font-size: 0.9rem !important;
    }
}